ion-app._gmaps_cdv_ .nav-decor {
    background-color: transparent !important;
}

.iconRight {
    position: absolute !important;
    top: 7px !important;
    right: 5px !important;
    max-width: 60px !important;
    max-height: 60px !important;
}
